<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <section id="home-page">
      <img src="/images/boba-buddy.png" alt="Boba Buddy Image">
      <h2>How can I help you today, Boba Buddy?</h2>
    </section>
    
    <%- include('../partials/footer') %>
    
